/* CONTENEDOR PRINCIPAL */
* {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: min(330px, 90vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 120px;
  cursor: pointer;
}

/* CAJA DEL BOTÓN (rectángulo) */
.buttonBox {
  background-color: var(--bgColor);
  padding: 1rem 1rem;
  border-radius: 18px;
  min-height: 50px;
  width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px; /* abre espacio para el icono */
  transition: transform 0.18s ease, box-shadow 0.18s ease; /* NUEVO */
}

/* TEXTO */
.label {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--textColor);
}

/* ICONO */
.iconContainer {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--iconBg);
  position: absolute;
  top: -14px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.18s ease; /* NUEVO */
}

.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.noIcon {
  margin-top: 0 !important; /* quita el espacio del icono */
  padding-top: 1.3rem; /* ajuste visual opcional */
}

/* ---- HOVER ---- */
.wrapper:hover .buttonBox {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.22);
}
