/* FOOTER */
.footer {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(90deg, #006f99 0%, #0098b3 100%);
  color: white;
  font-family: "Inter", sans-serif;
}

/* CONTENEDOR INTERNO */
.inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 200px 400px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* IZQUIERDA */
.left {
  max-width: 580px;
  margin-left: 50px;
  margin-top: 10px;
}

.description {
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
  font-weight: 520;
}

.socialRow {
  display: flex;
  gap: 22px;
  margin-top: 22px;
}

.socialIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.copy,
.address {
  margin-top: 20px;
  font-size: 17px;
  opacity: 0.9;
}

/* CENTRO */
.center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* TÍTULO NO CLICABLE */
.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}

/* TÍTULO CLICABLE PERO VISUALMENTE IDÉNTICO */
.titleClickable {
  font-size: 18px;
  font-weight: 700;

  color: white;
  text-decoration: none;
  cursor: pointer;

  margin-top: 14px; /* ← AJUSTÁ ESTE VALOR */
}

/* LINKS */
.link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
