.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 20px;
  font-family: "Inter", sans-serif;

  overflow-x: hidden; /* <--- BLOQUEA cualquier expansión */
  box-sizing: border-box;
}

/* SWITCH + TEXTO */
.switchRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

/* Toggle switch */
.switchWrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

.switchWrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ccc;
  border-radius: 30px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switchWrapper input:checked + .slider {
  background: #1c6cae;
}

.switchWrapper input:checked + .slider:before {
  transform: translateX(26px);
}

/* Texto del switch */
.switchText {
  font-size: 20px;
  font-weight: 650;
}

/* FORM GRID */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.fullWidth {
  grid-column: 1 / -1;
}

/* INPUT / TEXTAREA */
.input,
.textarea {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  font-size: 22px;
  background: #fff;
  outline: none;
  max-width: 100%; /* <--- evita que crezcan */
  box-sizing: border-box; /* <--- respeta padding dentro del 100% */
  font-weight: 600;
}

.input:focus,
.textarea:focus {
  border-color: #1c6cae;
}

.textarea {
  min-height: 160px;
  resize: vertical;
}

/* BOTÓN */
.submitBtn {
  width: fit-content;
  padding: 12px 28px;
  background: #006b94;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.2s;
}

.submitBtn:hover {
  background: #004e71;
}

/* RESPONSIVE */
@media (max-width: 750px) {
  .form {
    grid-template-columns: 1fr;
  }
}
